# Coverage configuration
# Usage:
#   coverage run -m imageroller.test.run
#   coverage report
#   coverage html

[run]
branch = True
source = imageroller

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
